.App {
  position: relative;
}

.App__Background {
  width: 100vw;
  height: 35vh;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('../images/pattern-bg.png');
  background-size: cover;
}