.IP {
  position: absolute;
  width: 85%;
  top: 36px;
  left: 50%;
  font-size: 1rem;
  transform: translateX(-50%);
  z-index: 1000;
}

.IP__Title {
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.IP__Input-Container {
  display: flex;
  margin: 0 auto 24px;
  max-width: 460px;
  border-radius: 12px;
  overflow: hidden;
}

.IP__Input-Wrapper {
  flex: 1;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.IP__Input {
  width: 100%;
  height: 100%;
  padding: 0 1em;
  font-size: 0.85em;
  border: none;
}

.IP__Input:focus {
  outline: none;
}

.IP__Input::placeholder {
  font-size: 0.9em;
}

.IP__Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2em;
  height: 2.2em;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: black;
}

.IP-Info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  max-height: 44px;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  transition: max-height 0.75s ease 0.25s;
  overflow: hidden;
}


.IP-Info--Open {
  max-height: 400px;
}

.IP-Info__Toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2px;
  right: 50%;
  width: 28px;
  height: 28px;
  font-size: 20px;
  font-weight: 700;
  color: var(--gray);
  transform: translateX(50%) rotate(90deg);
}

.IP-Info--Open .IP-Info__Toggle {
  top: 12px;
  right: 24px;
}

.IP-Info__Toggle span {
  opacity: 0;
}

.IP-Info--Open .IP-Info__Toggle span {
  opacity: 1;
  transform: translateX(-6px) rotate(180deg);
}

.IP-Info__Field {
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.75em;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.IP-Info--Open .IP-Info__Field {
  opacity: 1;
  transition: opacity 0.25s ease 0.75s;
}

.IP-Info__Field:last-child {
  margin-bottom: 0;
}

.IP-Field__Label {
  margin-bottom: 8px;
  color: var(--gray);
  font-size: 0.6em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.IP-Field__Value {
  font-size: 1.1em;
  font-weight: 500;
}

@media only screen and (min-width: 375px) {
  .IP {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 450px) {
  .IP {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 750px) {
  .IP-Info__Toggle {
    display: none;
  }

  .IP-Info {
    flex-direction: row;
    align-items: stretch;
    padding: 28px 24px;
    max-width: 1000px;
    max-height: 400px;
  }

  .IP-Info__Field {
    width: 25%;
    margin-bottom: 0;
    text-align: left;
  }

  .IP-Info__Field:not(:first-child) {
    border-left: 1px solid #ddd;
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 750px) {
  .IP {
    font-size: 1.3rem;
  }
}